**/.DS_Store
**/.ipynb_checkpoints/*
week-04/**/twitter_keys.py
**/__pycache__/*
**/__pycache__/*
week-05/*
week-06/*
week-09/*
week-10/*
week-11/*
**/superceded/*
week-03/data/skyhook_cleaned.csv
week-03/data/skyhook_2017-07.csv
**/*key*
